h2{
    margin-bottom: 39px;
}
.movie-detail {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.movie-detail__header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-detail__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.movie-detail__info p {
    margin: 5px 0;
}

.movie-detail__poster {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.movie-detail__description {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.movie-detail__back-button {
    align-self: flex-start;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movie-detail__back-button:hover {
    background-color: #0056b3;
}